{% extends 'base.html' %}
{% load static %}
{% block title %}Tiny House İmalatı ve Modelleri - Star Tiny House Hizmetinizde {% endblock title %}
{% block dc.title %}Tiny House İmalatı ve Modelleri - Star Tiny House Hizmetinizde {% endblock dc.title %}
{% block og.title %}Tiny House İmalatı ve Modelleri - Star Tiny House Hizmetinizde {% endblock og.title %}
{% block tw.title %}Tiny House İmalatı ve Modelleri - Star Tiny House Hizmetinizde {% endblock tw.title %}
{% block item.title %}Tiny House İmalatı ve Modelleri - Star Tiny House Hizmetinizde{% endblock item.title %}

{% block description %}Tiny House İmalatı ve Modelleri, Star Tiny House sizlerle - Dilediğiniz modeller son teknoloji ürünler {% endblock description %}
{% block dc.description %}Tiny House İmalatı ve Modelleri, Star Tiny House sizlerle - Dilediğiniz modeller son teknoloji ürünler {% endblock dc.description %}
{% block og.description %}Tiny House İmalatı ve Modelleri, Star Tiny House sizlerle - Dilediğiniz modeller son teknoloji ürünler {% endblock og.description %}
{% block tw.description %}Tiny House İmalatı ve Modelleri, Star Tiny House sizlerle - Dilediğiniz modeller son teknoloji ürünler {% endblock tw.description %}
{% block item.description %}Tiny House İmalatı ve Modelleri, Star Tiny House sizlerle - Dilediğiniz modeller son teknoloji ürünler {% endblock item.description %}


{% block content %}
     {% include 'particial/_carousel.html' %}
     {% include 'particial/_model.html' %}
     {% include 'particial/_about.html' %}
    {% include 'particial/_facts.html' %}
    {% include 'particial/_features.html' %}
    {% include 'particial/_testimonial.html' %}
    {% include 'particial/_appointment.html' %}
{% endblock content %}

