{% load static %}
<!-- Facts Start -->
<div class="container-fluid my-5 p-0">
    <div class="row g-0">
      <div class="col-xl-3 col-sm-6 wow fadeIn" data-wow-delay="0.1s">
        <div class="position-relative">
          <img class="img-fluid w-100" src="{% static 'img/fact-1.jpg' %}" alt="" />
          <div class="facts-overlay">
            <h1 class="display-1">01</h1>
            <h4 class="text-white mb-3">Modern ve Teknolojik</h4>
            <p class="text-white">
              Modern tasarımlar ve kullanıcı dostu teknolojilerle donatıldı
            </p>
            <a class="text-white small" href="{% url 'randevu' %}"
              >Teklif Al<i class="fa fa-arrow-right ms-3"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 wow fadeIn" data-wow-delay="0.3s">
        <div class="position-relative">
          <img class="img-fluid w-100" src="{% static 'img/fact-2.jpg' %}" alt="" />
          <div class="facts-overlay">
            <h1 class="display-1">02</h1>
            <h4 class="text-white mb-3">Dikkat Çekici</h4>
            <p class="text-white">
             Tüm dikkatle üzerinizde olacak
            </p>
            <a class="text-white small" href="{% url 'randevu' %}"
            >Teklif Al<i class="fa fa-arrow-right ms-3"></i
          ></a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 wow fadeIn" data-wow-delay="0.5s">
        <div class="position-relative">
          <img class="img-fluid w-100" src="{% static 'img/fact-3.jpg' %}" alt="" />
          <div class="facts-overlay">
            <h1 class="display-1">03</h1>
            <h4 class="text-white mb-3">Kolay Taşınır</h4>
            <p class="text-white">
             Kullanılan malzeme özellikleri gereği son derece hafif ürünlerimizin taşınması çok kolay
            </p>
            <a class="text-white small" href="{% url 'randevu' %}"
              >Teklif Al<i class="fa fa-arrow-right ms-3"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 wow fadeIn" data-wow-delay="0.7s">
        <div class="position-relative">
          <img class="img-fluid w-100" src="{% static 'img/fact-4.jpg' %}" alt="" />
          <div class="facts-overlay">
            <h1 class="display-1">04</h1>
            <h4 class="text-white mb-3">İç Mimari</h4>
            <p class="text-white">
              Çok etkileyici ve harika iç mimari
            </p>
            <a class="text-white small" href="{% url 'randevu' %}"
            >Teklif Al<i class="fa fa-arrow-right ms-3"></i
          ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Facts End -->